<div class="container">
  <div class="row">
    <app-header></app-header>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
    <!-- <app-directives>
    </app-directives> -->
    <!-- <app-main *ngIf="showLogin; else logoutblock" ></app-main>

     <ng-template #logoutblock >
        <app-logout></app-logout>
     </ng-template> -->

     <!-- <ul>
        <li *ngFor="let name of names">{{name}}</li>
     </ul> -->
     <!-- <app-list></app-list> -->
      <!-- <app-add></app-add> -->
      <!-- <app-update /> -->
  </div>
  <div class="row">
    <app-footer></app-footer>
  </div>
</div>