<div class="px-5 my-5">
<form>
    <h5 class="text-center">Login Form</h5>
  <div class="mb-3">
    <label for="username" class="form-label" >Username</label>
    <input type="text" class="form-control" name="username" id="username" [(ngModel)]="username">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" id="password" [(ngModel)]="password">
  </div>
  <button type="submit" (click)="login()" class="btn btn-primary">Submit</button>
</form>
</div>